.App {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App .nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}
.App .nav-container .navbar {
  max-width: 1100px;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.App .nav-container .navbar svg {
  width: 50px;
  height: 50px;
}
.App .nav-container .navbar nav {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10%;
}
.App .nav-container .navbar nav a {
  width: 60px;
  text-align: center;
}
.App .nav-container .navbar nav .active-link {
  font-weight: 500;
  padding-bottom: 0.2rem;
  border-bottom: 1.5px solid black;
}
.App .nav-container .navbar nav a:hover {
  font-weight: 500;
}
.App .nav-shadow {
  box-shadow: 0 0 15px rgb(233, 233, 233);
}
.App .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.App .button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
}
.App .button span::before {
  content: "";
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: #999999;
  bottom: -30px;
}
.App .button span::after {
  content: "";
  display: block;
  position: relative;
  height: 2px;
  width: 0;
  background-color: black;
  bottom: -4px;
  transition: 0.3s ease-in;
}
.App .button svg {
  fill: currentColor;
}
.App .homepage {
  padding: 1rem;
}
.App .homepage .open-modal {
  margin: 1rem auto 0 auto;
}
.App .homepage .article-card {
  border-radius: 10px;
  box-shadow: 0 0 15px #d2d2d2;
  overflow: hidden;
  transition: 0.3s ease;
  max-width: 350px;
  min-height: 500px;
}
.App .homepage .article-card .article-card-image {
  max-width: 350px;
  overflow: hidden;
}
.App .homepage .article-card .article-card-infos {
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 1rem;
}
.App .homepage .article-card .article-card-infos p {
  margin-top: 1rem;
  color: #707070;
  font-size: 14px;
}
.App .homepage .article-card .article-card-infos .button {
  margin-top: auto;
}
.App .homepage .article-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}
.App .homepage .article-card:hover .article-card-infos .button span::after {
  width: 100%;
}
.App .homepage .featured-article {
  max-width: 600px;
  min-height: unset;
  margin: 0 auto;
}
.App .homepage .featured-article .featured-image {
  max-width: 100%;
}
.App .homepage .featured-article .featured-article-infos h2 {
  font-size: 24px;
}
.App .homepage .featured-article .featured-article-infos p {
  font-size: 15px;
}
.App .homepage main {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.App .homepage main .article-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.App .homepage main .sidebar {
  margin-top: 3rem;
}
.App .homepage main .sidebar h3 {
  text-align: center;
  background-color: #27282c;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
  max-width: 310px;
}
.App .homepage main .sidebar ul {
  list-style: none;
  max-width: 280px;
  margin: auto;
}
.App .homepage main .sidebar ul li {
  margin-top: 0.5rem;
  margin-right: 10px;
  color: #707070;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease;
}
.App .homepage main .sidebar ul li img {
  margin-right: 15px;
  border-radius: 1rem;
}
.App .homepage main .sidebar ul li:hover {
  background-color: rgba(153, 153, 153, 0.15);
  border-radius: 1rem;
  transform: scale(1.05);
}
.App .author-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 14px;
  transition: 0.3s ease;
}
.App .author-card img {
  width: 64px;
  height: 64px;
  border-radius: 1rem;
}
.App .author-card p {
  color: #aaaaaa;
}
.App .author-card:hover {
  transform: scale(1.01);
}
.App .authors-page h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.App .authors-page .authors-container {
  max-width: 700px;
  margin: auto;
  list-style: none;
  margin-bottom: 4rem;
}
.App .authors-page .authors-container li {
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid rgba(170, 170, 170, 0.2);
}
.App .authors-page .authors-container li:last-child {
  border-bottom: none;
}
.App .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.App .backdrop .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.App .backdrop .article-page {
  background-color: white;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
  padding-top: 3rem;
  position: relative;
}
.App .backdrop .article-page .close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.App .backdrop .article-page .close-modal svg {
  fill: black;
  width: 30px;
  height: 30px;
}
.App .backdrop .article-page .article-content .article-image img {
  width: 100%;
  border-radius: 10px;
}
.App .backdrop .article-page .article-content .article-title-block {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.App .backdrop .article-page .article-content .article-title-block p:last-of-type {
  font-size: 12px;
  color: #999999;
}
.App .backdrop .article-page .article-content section {
  color: #414243;
  margin-bottom: 3rem;
}
.App .backdrop .article-page .article-content section p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.App .backdrop .article-page .article-content section h2 {
  margin: 1rem 0 0.5rem 0;
  line-height: 1.7rem;
}
.App .backdrop .article-page .author-info {
  margin-bottom: 3rem;
  border-top: 2px solid rgba(170, 170, 170, 0.2);
}
.App .backdrop .article-page .author-info .author-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.App .backdrop .article-page .author-info .author-info-top .written-by {
  color: #aaaaaa;
}
.App .backdrop .article-page .author-info .author-info-top .button {
  margin-top: 0;
  font-size: 13px;
}
.App .backdrop .article-page .author-info .author-info-top .button span::before {
  bottom: -23px;
}
.App .backdrop .article-page .author-info .author-info-top .button:hover span::after {
  width: 100%;
}
.App .footer {
  background-color: #27282c;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: auto;
  text-align: center;
}
.App .footer .media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 2rem;
}
.App .footer .media a {
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  transition: 0.6s ease;
}
.App .footer .media a:hover {
  background-color: #3a3c42;
  transition: 0.6s ease;
}
.App .footer .media svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.App .not-found {
  padding: 4rem 1rem;
}
.App .not-found h2 {
  margin-bottom: 35px;
}
.App .not-found p {
  margin-bottom: 25px;
}
.App .not-found button {
  background-color: #27282c;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.App .not-found button:hover {
  color: white;
  scale: 1.01;
}

@media (min-width: 768px) {
  .App .button {
    margin-top: auto;
    margin-bottom: 1rem;
  }
  .App .button span::before {
    height: 3px;
  }
  .App .button span::after {
    height: 3px;
    bottom: -3px;
  }
  .App .homepage .open-modal {
    width: calc(50% - 10px);
  }
  .App .homepage .open-modal:has(.featured-article) {
    width: unset;
  }
  .App .homepage .open-modal:has(.featured-article) .article-card {
    max-width: unset;
  }
  .App .homepage .featured-article {
    display: flex;
    flex-direction: row;
  }
  .App .homepage .featured-article .featured-image {
    flex-basis: 50%;
  }
  .App .homepage .featured-article .featured-article-infos {
    height: unset;
  }
  .App .homepage main {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .App .homepage main .article-cards-container {
    flex-basis: 70%;
  }
  .App .homepage main .sidebar {
    flex-basis: 30%;
    width: 100%;
    margin-top: 1rem;
  }
  .App .homepage main .sidebar ul {
    margin-right: 0;
  }
  .App .author-card {
    font-size: 15px;
  }
  .App .author-card img {
    width: 80px;
    height: 80px;
  }
  .App .backdrop .article-page {
    padding-top: 3rem;
  }
  .App .backdrop .article-page .article-content .article-title-block {
    margin-bottom: 3rem;
  }
  .App .backdrop .article-page .author-info .author-info-top .button span::before {
    height: 2px;
  }
  .App .backdrop .article-page .author-info .author-info-top .button span::after {
    height: 2px;
  }
  .App .backdrop .article-page .author-info .author-info-top .button:hover span::after {
    height: 2px;
  }
}
@media (min-width: 1024px) {
  .App .homepage .article-card .article-card-image {
    max-height: 300px;
  }
  .App .homepage .featured-article {
    margin-top: 1.5rem;
  }
  .App .homepage .featured-article .featured-article-infos {
    padding-top: 3rem;
  }
  .App .homepage .featured-article .featured-article-infos h2 {
    font-size: 28px;
  }
  .App .homepage .featured-article .featured-article-infos p {
    font-size: 16px;
  }
  .App .homepage .featured-article .featured-article-infos .button {
    font-size: 20px;
    margin-bottom: 2rem;
  }
  .App .homepage .featured-article .featured-article-infos .button span::after {
    bottom: -1px;
  }
  .App .homepage main .article-cards-container {
    gap: 20px;
  }
  .App .homepage main .sidebar ul li {
    font-size: 17px;
    margin-bottom: 1rem;
  }
  .App .not-found {
    font-size: 1.1rem;
  }
  .App .not-found button {
    font-size: 1rem;
  }
}/*# sourceMappingURL=App.css.map */