.App {
  padding-top:5rem;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  .nav-container{
    position:fixed;
    top:0;
    width:100%;
    background-color: white;
    z-index:2;
    .navbar{
      max-width:1100px;
      padding:1rem 1rem 0 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin:auto;
      svg{
        width:50px;
        height: 50px;
      }
      nav{
        flex-basis: 50%;
        display:flex;
        flex-direction: row;
        justify-content: end;
        gap:10%;
        a{
          width: 60px;
          text-align:center;
        }
        .active-link{ 
          font-weight: 500;
          padding-bottom:0.2rem;
          border-bottom: 1.5px solid black;
        }
        a:hover{
          font-weight: 500;
        }
      }
    }
  }
  .nav-shadow{
    box-shadow: 0 0 15px rgb(233, 233, 233);
  }
  .container{
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
  }  
  .button{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:5px;
    align-items: center;
    margin-top:2rem;
    margin-bottom:0.5rem; 
    font-size: 18px;
    font-weight:500;
    span::before{
      content:'';
      display:block;
      position:relative;
      height:2px;
      width:100%;
      background-color:#999999;
      bottom: -30px;
    }
    span::after{
      content:'';
      display:block;
      position:relative;
      height:2px;
      width:0;
      background-color:black;
      bottom: -4px;
      transition: 0.3s ease-in;
    }
    svg{
      fill:currentColor;
    }
  }
  .homepage{
    padding:1rem; 
    .open-modal{
      margin: 1rem auto 0 auto;
    }
    .article-card{  
      border-radius: 10px;
      box-shadow: 0 0 15px #d2d2d2;
      overflow: hidden;
      transition: 0.3s ease;
      max-width:350px;
      min-height:500px;
      .article-card-image{
        max-width:350px;
        overflow: hidden;
      }
      .article-card-infos{
        height:300px;
        display:flex;
        flex-direction:column; 
        padding:1.5rem;
        margin-top:1rem;
        p{
          margin-top:1rem;
          color:#707070;
          font-size: 14px;
        }
        .button{
          margin-top:auto;
        }
      }
      &:hover{
        transform: scale(1.02);
        transition: 0.3s ease;
        .article-card-infos{
          .button{
            span::after{
              width:100%;
            }
          }
        }
      }
    }
    .featured-article{
      max-width:600px;
      min-height: unset;
      margin: 0 auto;
      .featured-image{
        max-width:100%;
      }
      .featured-article-infos{
        h2{
          font-size:24px;
        }
        p{
          font-size: 15px;
        }
      }
    }    
    main{
      padding-top:3rem; 
      padding-bottom:3rem;
      .article-cards-container{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap:15px;
      }  
      .sidebar{
        margin-top:3rem;
        h3{
          text-align: center;
          background-color: #27282c;
          color:rgba(255, 255, 255, 0.9);
          padding:0.5rem;
          border-radius: 5px;
          margin:auto;
          margin-bottom:1rem;
          max-width:310px;
        }
        ul{
          list-style: none;
          max-width:280px;
          margin:auto;
          li{
            margin-top:0.5rem;
            margin-right:10px;
            color:#707070;
            font-size:16px;
            display:flex;
            flex-direction:row;
            align-items: center;
            transition:0.3s ease;
            img{
              margin-right:15px;
              border-radius: 1rem;
            }
            &:hover{
              background-color: rgba(153, 153, 153, 0.15);
              border-radius: 1rem;
              transform: scale(1.05);
            }
          }
        }
      }
    }      
  }
  .author-card{
    display:flex;
    flex-direction: row;
    gap:15px;
    font-size:14px;
    transition: 0.3s ease;
    img{
      width:64px;
      height:64px;
      border-radius:1rem;
    }
    p{
      color:#aaaaaa;
    }
    &:hover{
      transform:scale(1.01);
    }
  }
  .authors-page{
    h1{
      text-align:center; 
      font-size:28px;
      margin-top:1.5rem;
      margin-bottom:5rem;
    }
    .authors-container{
      max-width:700px;
      margin:auto;
      list-style: none;
      margin-bottom:4rem;
      li{
        margin:1rem;
        padding-top:0.5rem;
        padding-bottom:2rem;
        border-bottom: 2px solid rgba(170, 170, 170, 0.2);
        &:last-child{
          border-bottom:none;
        }
      }
    }
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:3;
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
    .article-page{
      background-color: white;
      max-width:700px;
      margin:auto;
      padding:1rem;
      padding-top:3rem;
      position:relative;
      .close-modal{
        position: absolute;
        top:5px;
        right:5px;
        background-color: transparent;
        border:none;
        cursor: pointer;
        svg{
          fill:black;
          width:30px;
          height:30px;
        }
      }
      .article-content{
        .article-image{
          img{
          width:100%;
          border-radius: 10px;
          }
        }
        .article-title-block{
          margin-top:2.5rem;
          margin-bottom:2rem;
          text-align: center;
          p:last-of-type{
            font-size: 12px;
            color:#999999;
          }
        }
        section{
          color:#414243;
          margin-bottom:3rem;
          p{
            margin-top:1rem;
            line-height: 1.5rem;
          }
          h2{
            margin: 1rem 0 0.5rem 0;
            line-height: 1.7rem;
          }
        }
      }
      .author-info{
        margin-bottom: 3rem;
        .author-info-top{
          display: flex; 
          flex-direction:row;
          justify-content: space-between;
          margin-top:1rem;
          margin-bottom:2rem;
          text-transform: uppercase;
          font-size: 13px;
          font-weight:600;
          .written-by{
            color:#aaaaaa;
          }
          .button{
            margin-top:0;
            font-size:13px;
            span::before{
              bottom:-23px;
            }
            &:hover{
              span::after{
                width:100%;
              }
            }
          }
        }
        border-top: 2px solid rgba(170, 170, 170, 0.2);
      }
    }
  }
  
  .footer{
    background-color: #27282c;
    color:rgba(255, 255, 255, 0.7);
    padding-top:2rem;
    padding-bottom:1rem;
    margin-top:auto;
    text-align: center;
    .media{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap:50px;
      margin-bottom:2rem;
      a{
        padding:0.6rem 0.7rem;
        border-radius: 50%;
        transition: 0.6s ease;
      }
      a:hover{
        background-color: #3a3c42;
        transition: 0.6s ease;
      }
      svg{
        width:20px;
        height:20px;
        fill:currentColor;
      }
    }
  }
  .not-found{
    padding:4rem 1rem;
    h2{
      margin-bottom: 35px;
    }
    p{
      margin-bottom: 25px;
    }
    button{
      background-color: #27282c;
      color:rgba(255, 255, 255, 0.7);
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
        color:white;
        scale:1.01;
      }
    }
  }
}
  
@media (min-width:768px){
  .App{
    .button{
      margin-top:auto;
      margin-bottom:1rem;
      span::before{
        height: 3px;
      }
      span::after{
        height: 3px;
        bottom:-3px;
      }
    }
    .homepage{
      .open-modal{
        width:calc(50% - 10px);
      }
      .open-modal:has(.featured-article) {
        width:unset;
        .article-card{
          max-width:unset;
        }
      }
      .featured-article{
        display: flex;
        flex-direction:row;
        .featured-image{
          flex-basis:50%;
        }
        .featured-article-infos{
          height:unset;
        }
      }
      main{
        display:flex;
        flex-direction:row;
        gap:20px;
        .article-cards-container{
          flex-basis:70%;
        }    
        .sidebar{
          flex-basis:30%;
          width:100%;
          margin-top:1rem;
          ul{
            margin-right:0;
          }
        }      
      }
    }
    .author-card{
      font-size:15px;
      img{
        width:80px;
        height:80px;
      }
    }
    .backdrop {
      .article-page{
        padding-top:3rem;
        .article-content{
          .article-title-block{
            margin-bottom:3rem;
          }
        }
        .author-info{
          .author-info-top{
            .button{
              span::before{
                height:2px;
              }
              span::after{
                height:2px;
              }
              &:hover{
                span::after{
                  height:2px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:1024px){
  .App{
    .homepage{
      .article-card{
        .article-card-image{
          max-height:300px;
        }
      }
      .featured-article{
        margin-top:1.5rem;
        .featured-article-infos{
          padding-top:3rem;
          h2{
            font-size:28px;
          }
          p{
            font-size:16px;
          }
          .button{
            font-size:20px;
            margin-bottom:2rem;
            span::after{
              bottom:-1px;
            }
          }
        }
      }
      main{
        .article-cards-container{
          gap:20px;
        }
        .sidebar{
          ul{
            li{
              font-size:17px;
              margin-bottom:1rem;
            }
          }
        }
      }
    }
    .not-found{
      font-size:1.1rem;
      button{
        font-size: 1rem;
      }
    }
  }
}